@model int
<div class="text-center">
    <h1 class="text-info pt-4">COngratulations!</h1>
    <p class="pb-3"We have received your orders></p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>